<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 15px; 
  line-height: 10px;
  border-radius: 5px;
}

.header a.logo {
  font-size: 15px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
  a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}





.round {
  border-radius: 50%;
}
}
</style>
</head>
<body>

<div class="header">
 <b> <a href=#default style="color:Tomato; class="logo">DEMO Nodejs APP</a> </b>
  <div class="header-right">
    <a class="active" href="/" class="nav-link home-link">Home</a>
    <a href="/signup" class="nav-link contact-link">signup</a>
    <a href="/login" class="nav-link contact-link">login</a>
    {{!-- <a href="/logout" class="nav-link contact-link">logout</a> --}}
  
  </div>
</div>


</body>
</html>
